!*
~*
Thumbs.db
.DS_Store?
ehthumbs.db
*.idea
*.exe
*.cmd
.htaccess
/logs
/www
cloud/config-testclimb.js
node_modules
/config/default.json
/config/development.json
/config/development-old.json
/config/development.js
/config/crontab-development
ecosystem-development.json
*.log
/node_modules/*